<nav class="nav-menu">
    <div class="nav-brand">Agent Chat</div>
    <ul>
        <li><NavLink href="" Match="NavLinkMatch.All">Chat</NavLink></li>
        <li><NavLink href="debug">Debug Agents</NavLink></li>
    </ul>
</nav>
